<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lancedai.weye.server.mapper.ServerMapper">
    <select id="findAllWebAppByServerId" resultType="cn.lancedai.weye.common.model.WebApp">
        SELECT *
        FROM WEYE.WEB_APP
        WHERE SERVER_ID = #{serverId}
    </select>
    <select id="findAllCustomCommandByServerId" resultType="cn.lancedai.weye.server.VO.SubscribeCommandInfo">
        SELECT CUSTOM_COMMAND_SUBSCRIBE.ID AS SUBSCRIBE_ID,
               CUSTOM_COMMAND.ID           AS CUSTOM_COMMAND_ID,
               NAME,
               COMMAND,
               DURATION
        FROM WEYE.CUSTOM_COMMAND
                 INNER JOIN
             WEYE.CUSTOM_COMMAND_SUBSCRIBE
             ON CUSTOM_COMMAND.ID = CUSTOM_COMMAND_ID
        WHERE WEB_APP_ID IN (
            SELECT WEB_APP.ID
            FROM WEYE.WEB_APP
            WHERE SERVER_ID = #{serverId}
        )
    </select>
</mapper>